body {
    font-size: 18px !important;
    padding-left: 5px;
    padding-top: 5px;
}

.customfooter {
    background-color: rgba(0,0,0,0.2);
}

.imgPanny {
    width: 650px;
    height: 500px;
    padding-top: 5px;
    padding-left: 5px;
}

div {
    text-align: justify;
    font-family: "Arial Narrow", serif;
    font-stretch:normal;
    font-size: inherit;
}

.sourcestab {
    border: black;
    border-collapse: collapse;
    border-width: 2px;
}

.sourcestab tr {
    border: solid thin;
}

.sourcestab td {
    text-align: center;
    border: solid thin;
}