.imgPanny {
    width: 500px;
    height: 500px;
    alignment: center;
}

.divPanny {
}

.parIndex {
    text-align: justify;
    font-family: "Arial Narrow", serif;
    font-size: 18px;
    font-stretch: expanded;
}