.imgPanny {
    width: 500px;
    height: 500px;
    alignment: center;
}

.divPanny {
}

.parIndex {
    text-align: justify;
    font-family: "Arial Narrow", monospace;
    font-size: 18px;
    font-stretch: normal !important;
    font-style: revert;
}