$main-blue : darken(#58A3CC,5%);
$light-blue: darken($main-blue, 18%);
$dark-blue: darken($main-blue, 28%);

.tabbedPanels{
  width: 75%;
  margin:10px auto;
  @media only screen and (max-width:700px) {
    width: 90%;
  }

}
.tabs{
  margin:0;
  padding:0;
}
.tabs li {
  list-style-type: none;
  float:left;
  text-align: center;
}
.inactive{
  position: relative;
  top:0;
}
.tabs a {
  display:block;
  text-decoration: none;
  padding: 10px 15px;
  box-sizing:border-box;
  width:8rem;
  border-radius: 10px 10px 0 0;
  font-family: 'Raleway', cursive;
  font-weight:700;
  font-size: 1.2rem;
  color:white;
  letter-spacing:2px;
  @media only screen and (max-width:700px) {
    width:8rem;
    padding:10px 12px;
    @media only screen and (max-width:500px) {
      letter-spacing:0;
      width: 7rem;

    }
  }
}

.tabs a {
  color:black;
}

.tabs a.active {
  border-radius: 10px 10px 0 0;
  position:relative;
  top:1px;
  z-index:100;
}
.tabOne {
  background-color: $main-blue;
}
.tabTwo {
  background-color: $light-blue;

}
.tabThree {
  background-color: $dark-blue;

}
.panel {
  width: 85%;
  margin:1rem auto;
  background-color: white;
  border-radius:20px;
  padding: 20px;
}


.panelContainer {
  clear:left;
  padding:20px;
  background-color: $main-blue;
  border-radius: 0 20px 20px 20px;
}

.panelContent {
  line-height:1.5;
  padding: 0 1rem;
  font-size: 1.2rem;
}

.panelContent {
  font-family: Raleway, sans-serif;
}

h1.panelContent {
  font-size: 2.2rem;
}
@media only screen and (max-width:700px) {
  html{
    font-size: 14px;
    @media only screen and (max-width:450px) {
      font-size: 12px;
    }
  }

}



