# Vendor
vendor

# Folders / Files with this regex are alpha-stage
T_*

# Coverage reports
/coverage/

# Timers (JS)
/Utils/js/timers.js

# Patches
/.github/patches/

# HTML in tests
/tests/html/

# Config
/.idea/

# Boilerplate
/Utils/boilerplate/

# Txt files into JSON
/Utils/json/*.txt

# MarkDown
/Utils/json/.markdownlint
Utils/json/mdown.json
markdown.yaml
